<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangpengyu.cms.mapper.CommentMapper">
	<!--## 增加 ## -->
	<insert id="add">
		INSERT INTO cms_comment
		(articleId,userId,content,created)
		values(#{articleId},#{userId},#{content},now())
	</insert>
	<!--## 删除 ## -->
	<delete id="delete">
		delete from cms_comment where id=#{cid} and
		userId=#{userId}
	</delete>
	<!--## 修改 ## -->

	<!--## 查询 ## -->
	<select id="listByArticle" resultType="comment">
		SELECT c.* , u.username
		as
		userName,u.nickname as nickname
		from cms_comment c
		LEFT JOIN cms_user u ON
		u.id=c.userId
		where
		c.articleId=#{value}
		ORDER BY c.created
		desc
	</select>

	<select id="listByUser" resultType="comment">
		SELECT c.* , a.title as
		articleTitle from cms_comment c
		LEFT JOIN cms_article a ON
		c.articleId =
		a.id
		where c.userId=#{value}
	</select>
</mapper>